.form {
    height: auto;
    width: auto;
    padding-bottom: 10px;
    background-color: #ebcff7;
    border-radius: 10px;
    box-shadow: rgba(125, 103, 138, 0.2) 0px 7px 29px 0px;
}

.form-filed .form-group input[type="text"],
.form-filed .form-group input[type="email"],
.form-filed .form-group input[type="file"],
.form-filed .form-group input[type="number"] {
    height: 45px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.form-filed .form-group select {
    height: 45px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.submit-btn .btn-submit {
    padding: 8px 40px;
}

.submit-btn input[type="reset"] {
    padding: 8px 40px;
}

#name {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
    display: none;
}